# Import data from DB.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dfOrg = pd.read_csv('hope_dataset_cleaned.csv')  

print(dfOrg.shape[0])

1243

In [3]:
dfOrg.head(10)

,pedido.data.attributes.age,pedido.data.attributes.diagnostic_main,pedido.data.attributes.gender,articulo,respuesta.articlesRevisedYear,respuesta.articlesRevisedMonth,respuesta.pubmed_keys,utilidad
0,75.0,FISTULA PERITONEAL,male,27395425,2018,1,"Abdomen,Adenocarcinoma,Antiemetics,Blood Cultu...",1.0
1,75.0,FISTULA PERITONEAL,male,28560554,2018,4,"Abdomen,Adenocarcinoma,Antiemetics,Blood Cultu...",NaN
2,75.0,FISTULA PERITONEAL,male,28641726,2017,12,"Abdomen,Adenocarcinoma,Antiemetics,Blood Cultu...",NaN
3,75.0,FISTULA PERITONEAL,male,26245344,2016,12,"Abdomen,Adenocarcinoma,Antiemetics,Blood Cultu...",NaN
4,75.0,FISTULA PERITONEAL,male,28942543,2018,6,"Abdomen,Adenocarcinoma,Antiemetics,Blood Cultu...",NaN
5,75.0,FISTULA PERITONEAL,male,24782153,2014,6,"Abdomen,Adenocarcinoma,Antiemetics,Blood Cultu...",NaN
6,75.0,FISTULA PERITONEAL,male,28002229,2018,9,"Abdomen,Adenocarcinoma,Antiemetics,Blood Cultu...",NaN
7,75.0,FISTULA PERITONEAL,male,27505109,2017,4,"Abdomen,Adenocarcinoma,Antiemetics,Blood Cultu...",NaN
8,75.0,FISTULA PERITONEAL,male,24850546,2015,1,"Abdomen,Adenocarcinoma,Antiemetics,Blood Cultu...",NaN
9,75.0,FISTULA PERITONEAL,male,29371050,2019,4,"Abdomen,Adenocarcinoma,Antiemetics,Blood Cultu...",NaN

Expand pubmed_keys attribute

In [4]:
dfOrg['respuesta.pubmed_keys'] = dfOrg['respuesta.pubmed_keys'].apply(lambda x : str(x).split(','))

dfOrg = dfOrg.explode('respuesta.pubmed_keys').reset_index(drop=True)

dfOrg.head(10)

,pedido.data.attributes.age,pedido.data.attributes.diagnostic_main,pedido.data.attributes.gender,articulo,respuesta.articlesRevisedYear,respuesta.articlesRevisedMonth,respuesta.pubmed_keys,utilidad
0,75.0,FISTULA PERITONEAL,male,27395425,2018,1,Abdomen,1.0
1,75.0,FISTULA PERITONEAL,male,27395425,2018,1,Adenocarcinoma,1.0
2,75.0,FISTULA PERITONEAL,male,27395425,2018,1,Antiemetics,1.0
3,75.0,FISTULA PERITONEAL,male,27395425,2018,1,Blood Culture,1.0
4,75.0,FISTULA PERITONEAL,male,27395425,2018,1,Catharsis,1.0
5,75.0,FISTULA PERITONEAL,male,27395425,2018,1,Diuresis,1.0
6,75.0,FISTULA PERITONEAL,male,27395425,2018,1,Fistula,1.0
7,75.0,FISTULA PERITONEAL,male,27395425,2018,1,Gastrectomy,1.0
8,75.0,FISTULA PERITONEAL,male,27395425,2018,1,Incisional Hernia,1.0
9,75.0,FISTULA PERITONEAL,male,27395425,2018,1,Intestines,1.0

# Transform (factorice) from Categories to continuous atributes

Transform 'pedido.data.attributes.diagnostic_main' atribute

In [5]:
dataDiagnosticMain, categoriesDiagnosticMain = pd.factorize(dfOrg['pedido.data.attributes.diagnostic_main'])

dfOrg['pedido.data.attributes.diagnostic_main'] = dataDiagnosticMain

Transform 'gender' atribute

In [6]:
dataGender, categoriesGender = pd.factorize(dfOrg['pedido.data.attributes.gender'])

dfOrg['pedido.data.attributes.gender'] = dataGender

Transform 'respuesta.pubmed_keys' atribute

In [7]:
categoriesORGPubMedKeys = dfOrg['respuesta.pubmed_keys'].value_counts()

print("total: " + str(categoriesORGPubMedKeys.size))

total: 353

In [8]:
dataPubMedKeys, categoriesPubMedKeys = pd.factorize(dfOrg['respuesta.pubmed_keys'])

dfOrg['respuesta.pubmed_keys'] = dataPubMedKeys

In [9]:
dfOrg.head(10)

,pedido.data.attributes.age,pedido.data.attributes.diagnostic_main,pedido.data.attributes.gender,articulo,respuesta.articlesRevisedYear,respuesta.articlesRevisedMonth,respuesta.pubmed_keys,utilidad
0,75.0,0,0,27395425,2018,1,0,1.0
1,75.0,0,0,27395425,2018,1,1,1.0
2,75.0,0,0,27395425,2018,1,2,1.0
3,75.0,0,0,27395425,2018,1,3,1.0
4,75.0,0,0,27395425,2018,1,4,1.0
5,75.0,0,0,27395425,2018,1,5,1.0
6,75.0,0,0,27395425,2018,1,6,1.0
7,75.0,0,0,27395425,2018,1,7,1.0
8,75.0,0,0,27395425,2018,1,8,1.0
9,75.0,0,0,27395425,2018,1,9,1.0

In [10]:
print("age NaN => " + str(dfOrg[pd.isnull(dfOrg['pedido.data.attributes.age'])].shape[0]))
print("diagnostic_main NaN => " + str(dfOrg[pd.isnull(dfOrg['pedido.data.attributes.diagnostic_main'])].shape[0]))
print("gender NaN => " + str(dfOrg[pd.isnull(dfOrg['pedido.data.attributes.gender'])].shape[0]))
print("articulo NaN => " + str(dfOrg[pd.isnull(dfOrg['articulo'])].shape[0]))
print("articlesRevisedYear NaN => " + str(dfOrg[pd.isnull(dfOrg['respuesta.articlesRevisedYear'])].shape[0]))
print("articlesRevisedMonth NaN => " + str(dfOrg[pd.isnull(dfOrg['respuesta.articlesRevisedMonth'])].shape[0]))
print("pubmed_keys NaN => " + str(dfOrg[pd.isnull(dfOrg['respuesta.pubmed_keys'])].shape[0]))
print("utilidad NaN => " + str(dfOrg[pd.isnull(dfOrg['utilidad'])].shape[0]))

age NaN => 10
diagnostic_main NaN => 0
gender NaN => 0
articulo NaN => 0
articlesRevisedYear NaN => 0
articlesRevisedMonth NaN => 0
pubmed_keys NaN => 0
utilidad NaN => 14758

Remove row with age eq NaN

In [11]:
dfOrg = dfOrg[pd.notnull(dfOrg['pedido.data.attributes.age'])]

# Standardize the Data

Choosed "age", "diagnostic_main", "month" and "pubmed_keys" attributes (based on PCA_V3 study)

In [12]:
from sklearn.preprocessing import StandardScaler

features = ["pedido.data.attributes.age",
    "pedido.data.attributes.diagnostic_main",
    "respuesta.articlesRevisedMonth",
    "respuesta.pubmed_keys",
    "utilidad"
]

# Separating out the features
x = dfOrg.loc[:, features].values

featuresTransformed = StandardScaler().fit_transform(x)

dfStandarized = pd.DataFrame(featuresTransformed, index=dfOrg.index, columns=features)
dfStandarized['utilidad'] = dfOrg['utilidad']

dfStandarized

,pedido.data.attributes.age,pedido.data.attributes.diagnostic_main,respuesta.articlesRevisedMonth,respuesta.pubmed_keys,utilidad
0,1.285887,-1.503163,-1.463658,-1.089722,1.0
1,1.285887,-1.503163,-1.463658,-1.080463,1.0
2,1.285887,-1.503163,-1.463658,-1.071203,1.0
3,1.285887,-1.503163,-1.463658,-1.061944,1.0
4,1.285887,-1.503163,-1.463658,-1.052684,1.0
...,...,...,...,...,...
15583,-0.607930,-0.586347,-1.178433,-0.330441,NaN
15584,-0.607930,-0.586347,-1.178433,-0.978608,NaN
15585,-0.607930,-0.586347,-1.178433,0.891817,NaN
15586,-0.607930,-0.586347,-1.178433,-0.876753,NaN
15587,-0.607930,-0.586347,-1.178433,0.901077,NaN

Save data to csv

In [13]:
dfStandarized.to_csv('hope_SVM-V2_dataset.csv',index=False)